body,html{height:100%;min-height:100%}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both}
.w8{width:8px}
.w16{width:16px}
.w24{width:24px}
.w32{width:32px}
.w48{width:48px}
.w64{width:64px}
.w80{width:80px}
.w96{width:96px}
.w112{width:112px}
.w128{width:128px}
.w160{width:160px}
.w190{width:190px}
.w256{width:256px}
.w320{width:320px}
.w5r{width:5%}
.w10r{width:10%}
.w20r{width:20%}
.w25r{width:25%}
.w33r{width:33.3333%}
.w40r{width:40%}
.w50r{width:50%}
.w60r{width:60%}
.w66r{width:66.6666%}
.w75r{width:75%}
.w33r{width:33.333%}
.w66r{width:66.666%}
.w80r{width:80%}
.w100r{width:100%}
.h32{height:32px}
.h48{height:48px}
.h64{height:64px}
.h96{height:96px}
.h128{height:128px}
.h256{height:256px}
.h100r{height:100%;min-height:100%}
.lt{display:table;position:relative;width:100%}
.lt+.lt{margin-top:32px}
.lt-wrapper{display:table;margin:0 auto;position:relative;width:100%}
.lt-block{margin:0 auto;width:1160px}
.lt-block.rel{margin:0 auto;width:100%}
.lt-fixed{border-radius:0;left:0;position:fixed;right:0;top:0;z-index:90000}
.lt-block [class*=lt-cell-],.lt-box,.lt-row{box-sizing:border-box}
.lt-row{display:table;margin-bottom:4px;position:relative;width:100%;zoom:1}
.lt-row:after,.lt-row:before{content:'';display:table;width:auto}
.lt-row:after{clear:both}
.lt-row:last-child{margin-bottom:0}
.lt.zebra>.lt-row:nth-child(2n){background-color:var(--lt-color-bg3)}
.lt-l{text-align:left}
.lt-r{text-align:right}
.lt-c{text-align:center}
.lt-col-1,.lt-col-25{width:25%}
.lt-col-33{width:33.3333%}
.lt-col-2,.lt-col-50{width:50%}
.lt-col-66{width:66.6666%}
.lt-col-3,.lt-col-75{width:75%}
.lt-col-100,.lt-col-4{width:100%}
.lt-box{padding:4px;display:table-cell;color:var(--lt-color-text)}
.lt-box.flex-top{display:flex;align-items:flex-start}
.lt-box.flex-middle{display:flex;align-items:center}
.lt-box.flex-bottom{display:flex;align-items:flex-end}
.lt-box.flex-left{justify-content:flex-start}
.lt-box.flex-center{justify-content:center;align-items:center}
.lt-box.flex-right{justify-content:flex-end}
.lt-grid{display:grid}
.lt-grid-cols-1{grid-template-columns:repeat(1,1fr)}
.lt-grid-cols-2{grid-template-columns:repeat(2,1fr)}
.lt-grid-cols-3{grid-template-columns:repeat(3,1fr)}
.lt-grid-cols-4{grid-template-columns:repeat(4,1fr)}
.lt-grid-cols-5{grid-template-columns:repeat(5,1fr)}
.lt-grid-cols-6{grid-template-columns:repeat(6,1fr)}
.lt-grid-cols-7{grid-template-columns:repeat(7,1fr)}
.lt-grid-cols-8{grid-template-columns:repeat(8,1fr)}
.lt-grid-cols-9{grid-template-columns:repeat(9,1fr)}
.lt-grid-cols-10{grid-template-columns:repeat(10,1fr)}
.lt-grid-cols-11{grid-template-columns:repeat(11,1fr)}
.lt-grid-cols-12{grid-template-columns:repeat(12,1fr);background-repeat:repeat-x}
.lt-grid-auto-fit{grid-template-columns:repeat(auto-fit,minmax(200px,1fr))}
.lt-grid-auto-fill{grid-template-columns:repeat(auto-fill,minmax(200px,1fr))}
.lt-gap-0{gap:0}
.lt-gap-1{gap:.12rem}
.lt-gap-2{gap:.24rem}
.lt-gap-4{gap:.48rem}
.lt-gap-8{gap:.96rem}
.lt-gap-x-1{column-gap:.12rem}
.lt-gap-x-2{column-gap:.24rem}
.lt-gap-y-1{row-gap:.48rem}
.lt-gap-y-2{row-gap:.96rem}
.lt-grid-pos-1-3{grid-column:1/3}
.lt-grid-pos-auto{grid-column:auto}
.lt-grid-row-span-1{grid-row:span 1/span 1}
.lt-grid-row-span-2{grid-row:span 2/span 2}
.lt-grid-row-span-3{grid-row:span 3/span 3}
.lt-grid-row-span-4{grid-row:span 4/span 4}
.lt-grid-row-span-5{grid-row:span 5/span 5}
.lt-grid-row-span-6{grid-row:span 6/span 6}
.lt-grid-col-span-1{grid-column:span 1/span 1}
.lt-grid-col-span-2{grid-column:span 2/span 2}
.lt-grid-col-span-3{grid-column:span 3/span 3}
.lt-grid-col-span-4{grid-column:span 4/span 4}
.lt-grid-col-span-5{grid-column:span 5/span 5}
.lt-grid-col-span-6{grid-column:span 6/span 6}
.lt-grid-col-span-7{grid-column:span 7/span 7}
.lt-grid-col-span-8{grid-column:span 8/span 8}
.lt-grid-col-span-9{grid-column:span 9/span 9}
.lt-grid-col-span-10{grid-column:span 10/span 10}
.lt-grid-col-span-11{grid-column:span 11/span 11}
.lt-grid-col-span-12{grid-column:span 12/span 12}
.lt-grid .text-valign-top{display:flex;align-items:flex-start}
.lt-grid .text-valign-middle{display:flex;align-items:center}
.lt-grid .text-valign-bottom{display:flex;align-items:flex-end}
.lt-grid .text-halign-left{justify-content:flex-start;text-align:left}
.lt-grid .text-halign-center{justify-content:center;text-align:center}
.lt-grid .text-halign-right{justify-content:flex-end;text-align:right}
.lt-pic{zoom:1;margin:0 0 12px 0}
.lt-pic:after,.lt-pic:before{display:table;content:''}
.lt-pic:after{clear:both}
.lt-pic .lt-pic{float:left;margin-right:12px}
.lt-pic .lt-pic.right{float:right;margin-left:16px;margin-right:0}
.lt-pic.lt-l{margin-right:16px;margin-left:0;float:left}
.lt-pic.lt-r{margin-right:0;margin-left:16px;float:right}
.lt-pic-gallery{margin:0}
.lt-pic-gallery .lt-pic-gallery-item{margin-bottom:8px;float:left}
.lt-pic-gallery-item+.lt-pic-gallery-item{margin-left:4px}
.lt-pic-gallery a{text-decoration:none}
.lt-pic-gallery a:hover{text-decoration:underline}
.lt-pic-gallery-item>img,.lt-pic>img{border-radius:3px;background-color:var(--lt-color-bg1);border:1px solid var(--lt-color-border1);display:block;padding:4px;max-width:99%;box-sizing:border-box}
.lt-pic-gallery>small,.lt-pic>small{overflow:auto;display:block;margin-top:4px;padding:0 6px;text-align:center}
.lt-frame{border:1px solid var(--lt-color-border1);padding:4px;border-radius:3px}
.lt-frame small{display:none}
.lt-frame .crop{height:100%;overflow:hidden;position:relative}
.lt-frame .crop>img{display:block;min-width:100%;min-height:100%;margin:auto;padding:0;position:absolute;top:-100%;right:-100%;bottom:-100%;left:-100%;border-radius:0}
.lt-frame.round{border-radius:50%;overflow:hidden}
.lt-frame.round .crop{border-radius:50%}
.lt-section{background-color:inherit;border-bottom:1px solid var(--lt-color-secondary);color:var(--lt-color-secondary);font-weight:var(--lt-font-weight-medium);font-size:1em;margin-bottom:.9em;position:relative;display:block}
.lt-section span{background-color:var(--lt-color-bg1);bottom:-.7em;padding-right:8px;position:relative;text-decoration:none;max-width:100%;width:100%}
.lt-section.center span{text-align:center;padding:0 8px}
.lt-table{width:100%;border-collapse:collapse;border:1px solid var(--lt-color-grad-300)}
.lt-table td,.lt-table th{border:1px solid var(--lt-color-grad-300);padding:5px;box-sizing:border-box}
.lt-table tr{background-color:var(--lt-color-bg1)}
.lt-table th{font-weight:var(--lt-font-weight-bold);font-size:.9em}
.lt-table .th,.lt-table th{padding:.75em .5em;background-color:var(--lt-color-grad-150)}
.lt-table th.nth{background-color:var(--lt-color-grad-150)!important}
.lt-table td.nth{background-color:var(--lt-color-grad-150)!important;border-color:var(--lt-color-grad-250)}
.lt-table.zebra tbody tr:nth-child(2n){background-color:var(--lt-color-grad-100)}
.lt-table.zebra tbody tr:nth-child(2n) td.nth{background-color:var(--lt-color-grad-100)}
.lt-table.lt-no-row-border td,.lt-table.lt-no-row-border th{border-top:none;border-bottom:none}
.lt-table.lt-no-col-border td,.lt-table.lt-no-col-border th{border-left:none;border-right:none}
.lt-table tbody tr:hover{background-color:var(--lt-hover-bg)!important;color:var(--lt-hover-color)}
.lt-table tbody tr:hover td,.lt-table tbody tr:hover th{border-color:var(--lt-hover-border)}
.lt-table.lt-no-row-border tbody tr:hover td,.lt-table.lt-no-row-border tbody tr:hover th{border-top-color:transparent;border-bottom-color:transparent;border-left-color:var(--lt-hover-border);border-right-color:var(--lt-hover-border)}
.lt-table.lt-no-col-border tbody tr:hover td,.lt-table.lt-no-col-border tbody tr:hover th{border-left-color:transparent;border-right-color:transparent;border-top-color:var(--lt-hover-border);border-bottom-color:var(--lt-hover-border)}
.lt-table.lt-no-col-border.lt-no-row-border tbody tr:hover td,.lt-table.lt-no-col-border.lt-no-row-border tbody tr:hover th{border-color:transparent}
.lt-table tbody tr:hover .nth{background-color:var(--lt-hover-nth-bg)!important;border-color:var(--lt-hover-nth-border)!important}
.lt-table.lt-no-row-border tbody tr:hover .nth{border-top-color:transparent;border-bottom-color:transparent}
.lt-table.lt-no-col-border tbody tr:hover .nth{border-left-color:transparent;border-right-color:transparent}
.lt-table.lt-no-row-border.lt-no-col-border tbody tr:hover .nth{border-color:transparent}
.lt-table.clear,.lt-table.clear td,.lt-table.clear th{background-color:transparent}
.lt-table .lt-c,.lt-table .lt-r{float:none}
.lt-tabs{list-style:none;padding:0;margin:0;position:relative;overflow:hidden}
.lt-tabs li{float:left;margin:0}
.lt-tabs li>input{display:none}
.lt-tabs li>label{display:inline-block;border:1px solid var(--lt-color-grad-300);border-right-width:0;border-bottom-width:0;height:24px;line-height:24px;padding:6px 14px;cursor:pointer;user-select:none}
.lt-tabs li:first-child>label{border-radius: var(--border-radius) 0 0 0;}
.lt-tabs li:last-child>label{border-right-width:1px; border-radius: 0 var(--border-radius) 0 0;}
.lt-tabs .lt-tab-content{display:none;position:absolute;left:0;border:1px solid var(--lt-color-grad-300);overflow-y:auto;width:100%;box-sizing:border-box; border-radius: 0 0 var(--border-radius) var(--border-radius);}
.lt-tabs .lt-tab-content *{margin:0;padding:16px}
.lt-tabs li>input:checked+label{background-color:var(--lt-hover-bg);border-color: var(--lt-hover-border);}
.lt-tabs li>input:checked~.lt-tab-content{display:block;top:36px;bottom:0;left:0;right:0}
.lt-nav{list-style:none;margin:0;padding:0;display:flex;gap:1rem;background-color:inherit}
.lt-nav li{display:block;margin:0;text-align:left}
.lt-nav li a{display:block;padding:12px 16px;text-decoration:none;font-weight:500;color:var(--lt-color-text,#333);transition:background-color .2s,color .2s;font-family:var(--lt-font-family-base)}
.lt-nav li a:focus,.lt-nav li a:hover{color:#da291c}